@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: #111827;
    /* gray-900 */
    color: #d1d5db;
    /* gray-300 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1f2937;
    /* gray-800 */
}

::-webkit-scrollbar-thumb {
    background: #db2777;
    /* pink-600 */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #be185d;
    /* pink-700 */
}

/* Animation Utilities */
@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}